@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;300;500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  scroll-behavior: smooth;
  margin: 0;
  overflow-x: hidden;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 98%;
  align-items: center;
  margin: 0 auto;
}

p, li {
  font-family: "Jost", sans-serif;
}

header {
  padding: 0px 40px;
  background-color: #FCF6F6;
  z-index: 4;
  height: 250px;
}
header .logo-nav {
  display: flex;
}
header .logo-nav .information {
  display: flex;
  font-size: 22px;
  font-weight: 400;
  margin-top: 120px;
}
header .logo-nav .information li {
  list-style-type: none;
  text-align: right;
}
header .logo-nav .logo {
  position: absolute;
  left: 43%;
  top: 40px;
  z-index: 10;
}
header .logo-nav nav *, header .logo-nav nav *:before, header .logo-nav nav *:after {
  box-sizing: border-box;
}
header .logo-nav nav label .menu {
  position: absolute;
  right: -100px;
  top: 10px;
  z-index: 100;
  width: 200px;
  height: 200px;
  border-radius: 50% 50% 50% 50%;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 #FCF6F6, 0 0 0 0 #FCF6F6;
  cursor: pointer;
}
header .logo-nav nav label .hamburger {
  position: absolute;
  top: 135px;
  left: 10px;
  width: 60px;
  height: 5px;
  background: #69D2e7;
  display: block;
  transform-origin: center;
  transition: 0.5s ease-in-out;
  border-radius: 3px;
}
header .logo-nav nav label .hamburger:after, header .logo-nav nav label .hamburger:before {
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #69d2e7;
  border-radius: 3px;
}
header .logo-nav nav label .hamburger:before {
  top: -10px;
}
header .logo-nav nav label .hamburger:after {
  bottom: -10px;
}
header .logo-nav nav label input {
  display: none;
}
header .logo-nav nav label input:checked + .menu {
  box-shadow: 0 0 0 100vw #FCF6F6, 0 0 0 100vh #FFF;
  border-radius: 0;
}
header .logo-nav nav label input:checked + .menu .hamburger {
  transform: rotate(45deg);
}
header .logo-nav nav label input:checked + .menu .hamburger:after {
  transform: rotate(90deg);
  bottom: 0;
}
header .logo-nav nav label input:checked + .menu .hamburger:before {
  transform: rotate(90deg);
  top: 0;
}
header .logo-nav nav label input:checked + .menu + ul {
  opacity: 1;
}
header .logo-nav nav label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.25s 0s ease-in-out;
}
header .logo-nav nav label a {
  margin-bottom: 1em;
  display: block;
  color: #f38630;
  text-decoration: none;
}

.showcase {
  background-image: url(../images/secOne.jpg);
  height: 880px;
  background-size: cover;
  background-position: center;
  --mask: linear-gradient(to bottom,
    rgba(0,0,0, 1) 0, rgba(0,0,0, 1) 65%,
    rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
  ) 100% 50% / 100% 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  z-index: 4;
}

.section-two {
  margin-top: 8%;
  padding-bottom: 20%;
  z-index: 4;
}
.section-two .sectwo-header {
  color: #491E0D;
  font-family: "Gloock", serif;
  text-align: right;
}
.section-two .sectwo-header h1 {
  font-size: 48px;
}
.section-two .sectwo-header h2 {
  font-size: 38px;
}
.section-two hr {
  margin-top: 32px;
}
.section-two .gallery-and-desc {
  display: flex;
}
.section-two .gallery-and-desc .description {
  padding-top: 180px;
  float: left;
  width: 48%;
  text-align: center;
}
.section-two .gallery-and-desc .description p {
  color: #491E0D;
  font-size: 26px;
  font-weight: 300;
  padding-bottom: 40px;
}
.section-two .gallery-and-desc .gallery-container {
  position: relative;
  width: 320px;
  margin: 100px auto 0 auto;
  perspective: 800px;
}
.section-two .gallery-and-desc .carousel {
  position: relative;
  margin-top: -90px;
  margin-left: 300px;
  width: 100%;
  left: -2%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate360 85s infinite forwards linear;
}
.section-two .gallery-and-desc .carousel__face {
  position: absolute;
  width: 310px;
  height: 187px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.01);
  display: flex;
  border-radius: 0.8px;
}
.section-two .gallery-and-desc .carousel__face:nth-child(1) {
  background-image: url(../images/restaurant-1763081_640.jpg);
  transform: rotateY(0deg) translateZ(430px);
}
.section-two .gallery-and-desc .carousel__face:nth-child(2) {
  background-image: url(../images/pexels-antoni-shkraba-5852247\ \(1\).jpg);
  transform: rotateY(40deg) translateZ(430px);
}
.section-two .gallery-and-desc .carousel__face:nth-child(3) {
  background-image: url(../images/pexels-yente-van-eynde-2403391.jpg);
  background-position: center left;
  transform: rotateY(80deg) translateZ(430px);
}
.section-two .gallery-and-desc .carousel__face:nth-child(4) {
  background-image: url(../images/pexels-kyle-roxas-2122294.jpg);
  transform: rotateY(120deg) translateZ(430px);
}
.section-two .gallery-and-desc .carousel__face:nth-child(5) {
  background-image: url(../images/pexels-cottonbro-studio-3298057.jpg);
  transform: rotateY(160deg) translateZ(430px);
}
.section-two .gallery-and-desc .carousel__face:nth-child(6) {
  background-image: url(../images/pexels-valeria-boltneva-1123260.jpg);
  transform: rotateY(200deg) translateZ(430px);
}
.section-two .gallery-and-desc .carousel__face:nth-child(7) {
  background-image: url(../images/platting-4282016_640.jpg);
  background-position: bottom;
  transform: rotateY(240deg) translateZ(430px);
}
.section-two .gallery-and-desc .carousel__face:nth-child(8) {
  background-image: url(../images/restaurant-449952_640.jpg);
  transform: rotateY(280deg) translateZ(430px);
}
.section-two .gallery-and-desc .carousel__face:nth-child(9) {
  background-image: url(../images/restaurant-set.jpg);
  background-position: bottom;
  transform: rotateY(320deg) translateZ(430px);
}
@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

.section-three {
  color: #491E0D;
  padding-top: 140px;
  padding-bottom: 90px;
}
.section-three .sec-three-header h2 {
  font-size: 38px;
  font-family: "Gloock", serif;
  padding-bottom: 20px;
}
.section-three .sec-three-header h3 {
  font-family: "Gloock", serif;
  font-size: 32px;
  padding-bottom: 20px;
}
.section-three .home-parallax {
  background-image: url(../images/static-gallery.png);
  min-height: 485px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  --mask: linear-gradient(to top,
    rgba(0,0,0, 1) 0, rgba(0,0,0, 1) 94%,
    rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
  ) 100% 50% / 100% 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
.section-three .sec-three-desc {
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  margin-top: 90px;
  padding-bottom: 40px;
}

.section-four {
  margin-top: 380px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-840px);
  }
}
.section-four .slider-one .slider {
  height: 400px;
  margin: auto;
  overflow: hidden;
  position: relative;
  border-radius: 2px;
}
.section-four .slider-one .slider::before, .section-four .slider-one .slider::after {
  content: "";
  height: 400px;
  position: absolute;
  width: 1400px;
  z-index: 2;
}
.section-four .slider-one .slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.section-four .slider-one .slider::before {
  left: 0;
  top: 0;
}
.section-four .slider-one .slider .slide-track {
  animation: scroll 140s linear infinite;
  display: flex;
  width: 1440px;
}
.section-four .slider-one .slider .slide {
  height: 200px;
  width: 250px;
}
.section-four .secfour-header {
  color: #491E0D;
  margin-top: 60px;
  margin-bottom: 200px;
  text-align: center;
}
.section-four h2 {
  font-family: "Gloock", serif;
  font-size: 38px;
  padding-bottom: 20px;
}
.section-four h3 {
  font-family: "Gloock", serif;
  font-size: 32px;
  padding-bottom: 18px;
}
.section-four p {
  font-size: 26px;
  font-weight: 300;
}/*# sourceMappingURL=style.css.map */