@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;300;500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: aliceblue;
  margin: 0;
  overflow-x: hidden;
  color: #491E0D;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 98%;
  align-items: center;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: "Gloock", serif;
}

p, li, input {
  font-family: "Jost", sans-serif;
}

header {
  background-color: #FCF6F6;
  z-index: 4;
  height: 250px;
}
header .logo-nav {
  display: flex;
}
header .logo-nav .scrolling-words-container {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 600;
  margin-top: 100px;
}
header .logo-nav .scrolling-words-box {
  height: 3rem;
  margin: auto;
  overflow: hidden;
}
header .logo-nav .scrolling-words-box ul {
  margin: 0 0.625rem;
  padding: 0;
  animation: scrollUp 10s infinite;
}
header .logo-nav .scrolling-words-box ul li {
  display: flex;
  align-items: center;
  height: 3rem;
  list-style: none;
}
@keyframes scrollUp {
  15%, 25% {
    transform: translateY(-33.3333333333%);
  }
  40%, 50% {
    transform: translateY(-66.6666666667%);
  }
}
header .logo-nav .logo {
  position: absolute;
  left: 43%;
  top: 23px;
  z-index: 10;
}
header .logo-nav nav {
  overflow-y: hidden;
}
header .logo-nav nav *, header .logo-nav nav *:before, header .logo-nav nav *:after {
  box-sizing: border-box;
}
header .logo-nav nav label .menu {
  position: absolute;
  right: -100px;
  top: 20px;
  z-index: 100;
  width: 200px;
  height: 200px;
  border-radius: 50% 50% 50% 50%;
  transition: 0.5s ease-in-out;
  background-color: #FCF6F6;
  box-shadow: 0 0 0 0 #FCF6F6, 0 0 0 0 #FCF6F6;
  cursor: pointer;
}
header .logo-nav nav label .hamburger {
  position: absolute;
  top: 135px;
  left: 10px;
  width: 60px;
  height: 5px;
  background: #491E0D;
  display: block;
  transform-origin: center;
  transition: 0.5s ease-in-out;
  border-radius: 3px;
}
header .logo-nav nav label .hamburger:after, header .logo-nav nav label .hamburger:before {
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #491E0D;
  border-radius: 13px;
}
header .logo-nav nav label .hamburger:before {
  top: -10px;
}
header .logo-nav nav label .hamburger:after {
  bottom: -10px;
}
header .logo-nav nav label input {
  display: none;
}
header .logo-nav nav label input:checked + .menu {
  box-shadow: 0 0 0 100vw hwb(17 5% 71%), 0 0 0 200vh aliceblue;
  border-radius: 13px;
}
header .logo-nav nav label input:checked + .menu .hamburger {
  transform: rotate(45deg);
}
header .logo-nav nav label input:checked + .menu .hamburger:after {
  transform: rotate(90deg);
  bottom: 0;
}
header .logo-nav nav label input:checked + .menu .hamburger:before {
  transform: rotate(90deg);
  top: 0;
}
header .logo-nav nav label input:checked + .menu + ul {
  display: block;
}
header .logo-nav nav label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  transition: 0.25s 0s ease-in-out;
}
header .logo-nav nav label li {
  list-style-type: none;
}
header .logo-nav nav label a {
  margin-bottom: 1em;
  display: block;
  color: aliceblue;
  text-decoration: none;
  font-size: 28px;
}

.showcase {
  background-image: url(../images/secOne.jpg);
  height: 880px;
  background-size: cover;
  background-position: center;
  --mask: linear-gradient(to bottom,
    rgba(0,0,0, 1) 0, rgba(0,0,0, 1) 65%,
    rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
  ) 100% 50% / 100% 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  z-index: 4;
}

.section-two {
  margin-top: 8%;
  padding-bottom: 20%;
  z-index: 4;
}
.section-two .sectwo-header {
  color: #491E0D;
  text-align: right;
}
.section-two .sectwo-header h1 {
  font-size: 48px;
}
.section-two .sectwo-header h2 {
  font-size: 38px;
}
.section-two hr {
  margin-top: 32px;
}
.section-two .gallery-and-desc {
  display: flex;
}
.section-two .gallery-and-desc .description {
  padding-top: 180px;
  float: left;
  width: 48%;
  text-align: center;
}
.section-two .gallery-and-desc .description p {
  color: #491E0D;
  font-size: 26px;
  font-weight: 300;
  padding-bottom: 40px;
}
.section-two .gallery-and-desc .gallery-container {
  position: relative;
  width: 320px;
  margin: 100px auto 0 auto;
  perspective: 800px;
}
.section-two .gallery-and-desc .carousel {
  position: relative;
  margin-top: -90px;
  margin-left: 300px;
  width: 100%;
  left: -2%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate360 85s infinite forwards linear;
}
.section-two .gallery-and-desc .carousel__face {
  position: absolute;
  width: 310px;
  height: 187px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.01);
  display: flex;
  border-radius: 0.8px;
}
.section-two .gallery-and-desc .carousel__face:nth-child(1) {
  background-image: url(../images/restaurant-1763081_640.jpg);
  transform: rotateY(0deg) translateZ(430px);
}
.section-two .gallery-and-desc .carousel__face:nth-child(2) {
  background-image: url(../images/pexels-antoni-shkraba-5852247\ \(1\).jpg);
  transform: rotateY(40deg) translateZ(430px);
}
.section-two .gallery-and-desc .carousel__face:nth-child(3) {
  background-image: url(../images/pexels-yente-van-eynde-2403391.jpg);
  background-position: center left;
  transform: rotateY(80deg) translateZ(430px);
}
.section-two .gallery-and-desc .carousel__face:nth-child(4) {
  background-image: url(../images/pexels-kyle-roxas-2122294.jpg);
  transform: rotateY(120deg) translateZ(430px);
}
.section-two .gallery-and-desc .carousel__face:nth-child(5) {
  background-image: url(../images/pexels-cottonbro-studio-3298057.jpg);
  transform: rotateY(160deg) translateZ(430px);
}
.section-two .gallery-and-desc .carousel__face:nth-child(6) {
  background-image: url(../images/pexels-valeria-boltneva-1123260.jpg);
  transform: rotateY(200deg) translateZ(430px);
}
.section-two .gallery-and-desc .carousel__face:nth-child(7) {
  background-image: url(../images/platting-4282016_640.jpg);
  background-position: bottom;
  transform: rotateY(240deg) translateZ(430px);
}
.section-two .gallery-and-desc .carousel__face:nth-child(8) {
  background-image: url(../images/restaurant-449952_640.jpg);
  transform: rotateY(280deg) translateZ(430px);
}
.section-two .gallery-and-desc .carousel__face:nth-child(9) {
  background-image: url(../images/restaurant-set.jpg);
  background-position: bottom;
  transform: rotateY(320deg) translateZ(430px);
}
@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

.section-three {
  color: #491E0D;
  padding-top: 140px;
  padding-bottom: 90px;
}
.section-three .sec-three-header h2 {
  font-size: 38px;
  padding-bottom: 20px;
}
.section-three .sec-three-header h3 {
  font-size: 32px;
  padding-bottom: 20px;
}
.section-three .home-parallax {
  background-image: url(../images/static-gallery.png);
  min-height: 485px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  --mask: linear-gradient(to top,
    rgba(0,0,0, 1) 0, rgba(0,0,0, 1) 94%,
    rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
  ) 100% 50% / 100% 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
.section-three .sec-three-desc {
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  margin-top: 90px;
  padding-bottom: 40px;
}

.section-four {
  margin-top: 380px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-840px);
  }
}
.section-four .slider-one .slider {
  height: 400px;
  margin: auto;
  overflow: hidden;
  position: relative;
  border-radius: 2px;
}
.section-four .slider-one .slider::before, .section-four .slider-one .slider::after {
  content: "";
  height: 400px;
  position: absolute;
  width: 1400px;
  z-index: 2;
}
.section-four .slider-one .slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.section-four .slider-one .slider::before {
  left: 0;
  top: 0;
}
.section-four .slider-one .slider .slide-track {
  animation: scroll 140s linear infinite;
  display: flex;
  width: 1440px;
}
.section-four .slider-one .slider .slide {
  height: 200px;
  width: 250px;
}

.secfour-header {
  color: #491E0D;
  margin-top: 60px;
  margin-bottom: 200px;
  text-align: center;
}

h2 {
  font-size: 38px;
  padding-bottom: 20px;
}

h3 {
  font-size: 32px;
  padding-bottom: 18px;
}

p {
  font-size: 26px;
  font-weight: 300;
}

.about {
  display: flex;
}
.about .description {
  padding-top: 80px;
  width: 50%;
}
.about .description h1 {
  font-size: 48px;
}
.about .description h2 {
  margin-top: 22px;
  margin-bottom: 40px;
  font-size: 38px;
}
.about .description p {
  padding-top: 10px;
  font-size: 22px;
  width: 85%;
  font-weight: 300;
}
.about .about-showcase {
  background-image: url(../images/pexels-rachel-claire-4819658.jpg);
  width: 50%;
  height: 670px;
  background-size: cover;
  --mask: linear-gradient(to left,
    rgba(0,0,0, 1) 0, rgba(0,0,0, 1) 55%,
    rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
  ) 100% 50% / 100% 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  border-bottom-left-radius: 42px;
  border-bottom-right-radius: 22px;
}

.staff {
  margin-top: 340px;
  box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.staff .gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
  padding-bottom: 200px;
}
.staff .item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}
.staff .item:hover {
  flex: 7;
}
.staff .item-1 {
  background-image: url("https://images.unsplash.com/photo-1499198116522-4a6235013d63?auto=format&fit=crop&w=1233&q=80");
}
.staff .item-2 {
  background-image: url("https://images.unsplash.com/photo-1492760864391-753aaae87234?auto=format&fit=crop&w=1336&q=80");
}
.staff .item-3 {
  background-image: url("https://images.unsplash.com/photo-1503631285924-e1544dce8b28?auto=format&fit=crop&w=1234&q=80");
}
.staff .item-4 {
  background-image: url("https://images.unsplash.com/photo-1510425463958-dcced28da480?auto=format&fit=crop&w=1352&q=80");
}
.staff .item-5 {
  background-image: url("https://images.unsplash.com/photo-1503602642458-232111445657?auto=format&fit=crop&w=1234&q=80");
}

#menu {
  display: flex;
}
#menu .menu-header {
  width: 50%;
  text-align: center;
}
#menu .menu-header h1 {
  font-size: 48px;
}
#menu .menu-header h2 {
  margin-top: 30px;
  font-size: 38px;
  padding-bottom: 40px;
}
#menu .menu-header p {
  font-size: 22px;
  font-weight: 300;
  width: 95%;
  padding-bottom: 50px;
}
#menu .menu-header #menu-download {
  color: #491E0D;
  font-family: "Jost", sans-serif;
  font-size: 27px;
  text-decoration: none;
  padding: 9px;
  border-radius: 5px;
  transition: 0.52s;
}
#menu .menu-header #menu-download:hover {
  color: aliceblue;
  background-color: #491E0D;
  border-radius: 9px;
  transition: 0.52s;
}
#menu .menu-scroll {
  height: 780px;
  overflow-y: scroll;
  border-left: 1px dashed #491E0D;
}

.member-header {
  background-color: #491E0D;
  padding-top: 200px;
  padding-bottom: 80px;
}
.member-header h1 {
  font-size: 48px;
  color: aliceblue;
  text-align: center;
}
.member-header h2 {
  font-size: 38px;
  color: aliceblue;
  text-align: center;
}
.member-header p {
  color: aliceblue;
  font-size: 22px;
  margin-top: 18px;
  text-align: center;
}

.point-opacity {
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
  opacity: 0.2;
}

.memberpage {
  background-color: #491E0D;
  display: flex;
  padding-top: 120px;
  padding-bottom: 400px;
}
.memberpage .wrapper {
  height: 500px;
  width: 30%;
}
.memberpage .tabs {
  position: relative;
  height: 14.75rem;
}
.memberpage .tabs::before,
.memberpage .tabs::after {
  content: "";
  display: table;
}
.memberpage .tabs::after {
  clear: both;
}
.memberpage .tab {
  float: left;
  color: aliceblue;
}
.memberpage .tab-switch {
  display: none;
}
.memberpage .tab-label {
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: #491E0D;
  border-right: 0.125rem solid #491E0D;
  color: aliceblue;
  font-family: "Jost", serif;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}
.memberpage .tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
}
.memberpage .tab-content {
  height: 12rem;
  position: absolute;
  z-index: 1;
  top: 2.75em;
  left: 0;
  padding-top: 1.618rem;
  opacity: 0;
  transition: all 0.35s;
}
.memberpage .tab-switch:checked + .tab-label {
  color: aliceblue;
  border-bottom: 0;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
}
.memberpage .tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}
.memberpage form {
  display: block;
}
.memberpage form #email-register {
  width: 300px;
  height: 40px;
  font-size: 24px;
  padding: 8px;
  outline: none;
  border: 2px solid #491E0D;
  border-radius: 5px;
}
.memberpage form #password-register {
  width: 300px;
  height: 40px;
  font-size: 24px;
  padding: 8px;
  outline: none;
  border: 2px solid #491E0D;
  border-radius: 5px;
  margin-top: 40px;
}
.memberpage form #name-register {
  width: 300px;
  height: 40px;
  font-size: 24px;
  padding: 8px;
  outline: none;
  border: 2px solid #491E0D;
  border-radius: 5px;
  margin-top: 40px;
}
.memberpage form #register-submit {
  margin-top: 25px;
  width: 120px;
  padding: 3px;
  font-size: 15px;
  background-color: aliceblue;
  border-radius: 4px;
  border: 1px dashed #491E0D;
  color: #491E0D;
  transition: 0.52s;
}
.memberpage form #register-submit:hover {
  background-color: #491E0D;
  color: aliceblue;
  transition: 0.52s;
}
.memberpage form #email-login {
  width: 300px;
  height: 40px;
  font-size: 24px;
  padding: 8px;
  outline: none;
  border: 2px solid #491E0D;
  border-radius: 5px;
}
.memberpage form #password-login {
  width: 300px;
  height: 40px;
  font-size: 24px;
  padding: 8px;
  outline: none;
  border: 2px solid #491E0D;
  border-radius: 5px;
  margin-top: 40px;
}
.memberpage form #login {
  margin-top: 25px;
  width: 120px;
  padding: 3px;
  font-size: 15px;
  background-color: aliceblue;
  border-radius: 4px;
  border: 1px dashed #491E0D;
  color: #491E0D;
  transition: 0.52s;
}
.memberpage form #login:hover {
  color: aliceblue;
  background-color: #491E0D;
  transition: 0.52s;
}
.memberpage .member-type {
  color: aliceblue;
  width: 70%;
  display: flex;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
}
.memberpage .member-type .wine-card {
  background-image: url(../images/edge2edge-media-aaSmG4bj25I-unsplash.jpg);
  background-size: cover;
  width: 45%;
  height: 500px;
  border-radius: 12px;
  padding: 0px 13px;
}
.memberpage .member-type .wine-card p {
  font-size: 24px;
}
.memberpage .member-type .desert-card {
  background-image: url(../images/jordane-mathieu-9trWI5ULtJQ-unsplash.jpg);
  background-size: cover;
  width: 45%;
  height: 500px;
  border-radius: 12px;
  padding: 0px 13px;
  margin-left: 10%;
  background-position: center left;
}

#contact {
  padding: 3rem;
}

.contactBtn {
  border-radius: 1rem;
  display: grid;
  justify-content: center;
  width: 50%;
  background-color: aliceblue;
}

.container.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
  text-align: center;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__options h4 {
  padding-bottom: 1.7rem;
}

.contact__option {
  background: aliceblue;
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid black;
  transition: var(--transition);
  justify-content: center;
}

.contact__option:hover {
  background: transparent;
  border-color: white;
}

.contact__option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

/* FORM */
#contact form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid #491E0D;
  resize: none;
  color: black;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-width-sm);
  }
}
/* FOOTER NAV */
.footer-nav {
  display: inline-block;
  padding: 30px;
  justify-content: center;
  text-decoration: none;
  margin: 0 auto;
}

.footer-links {
  color: white;
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
}

footer {
  background-image: url(../images/jonathan-cooper-zOStFJh3Q-A-unsplash.jpg);
  min-height: 285px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
}
footer h4 {
  font-size: 28px;
  margin-top: 40px;
}
footer .newsletter {
  display: flex;
}
footer .newsletter form {
  margin-top: 40px;
}
footer .newsletter form .form-div {
  border-right: 5px solid #491E0D;
}
footer .newsletter form input:focus {
  outline: none;
}
footer .newsletter form #email {
  border-radius: 4px;
  border: 1px solid #491E0D;
  height: 40px;
  width: 440px;
  padding: 8px;
  font-size: 22px;
}
footer .newsletter form #submit {
  border: 1px dashed #491E0D;
  font-size: 22px;
  margin-top: 40px;
  width: 120px;
  padding: 12px;
  border-radius: 9px;
}
footer .newsletter form #submit:hover {
  background-color: #491E0D;
  color: aliceblue;
}

@media (max-width: 1200px) {
  header .logo-nav .scrolling-words-container {
    font-size: 24px;
  }
  #menu .menu-header {
    width: 100%;
  }
  .menu-scroll img {
    width: 98%;
  }
}
@media (max-width: 900px) {
  header .logo-nav .logo {
    left: 34%;
  }
  header .logo-nav .logo img {
    width: 300px;
  }
  header .logo-nav .scrolling-words-container {
    font-size: 18px;
  }
  .section-two .gallery-and-desc {
    display: grid;
  }
  .section-two .gallery-and-desc .description {
    width: 100%;
  }
  .section-two .gallery-and-desc .carousel__face {
    top: 50px;
  }
  .section-three {
    margin-top: 200px;
  }
}
@media (max-width: 600px) {
  header {
    height: 300px;
  }
  header .logo-nav {
    display: block;
  }
  header .logo-nav .scrolling-words-container {
    margin-top: 0px;
    padding-top: 30px;
  }
  header .logo-nav .logo {
    left: 25%;
    top: 10%;
  }
  .section-two .sectwo-header {
    text-align: center;
  }
  .section-two .gallery-and-desc .description {
    padding-top: 50px;
  }
  footer .newsletter form #email {
    width: 300px;
  }
  #menu {
    margin-top: 150px;
    display: block;
  }
  .menu-scroll {
    margin-top: 40px;
    height: auto;
    overflow-y: auto;
    padding-bottom: 60px;
  }
  .about {
    margin-top: 60px;
    text-align: center;
    display: block;
  }
  .about .description {
    width: 100%;
  }
  .about .description p {
    width: 100%;
  }
  .about .about-showcase {
    margin-top: 40px;
    width: 100%;
    --mask: linear-gradient(to top, rgba(0,0,0, 1) 0, rgba(0,0,0, 1) 55%, rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0 ) 100% 50% / 100% 100% repeat-x;
    border-radius: 0px;
  }
}
@media (max-width: 600px) and (max-width: 450px) {
  header .logo-nav .logo {
    left: 11.5%;
  }
  .description {
    width: 100%;
  }
  .description p {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */